node_modules
.next
package-lock.json
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

.idea/**/mongoSettings.xml
.idea/replstate.xml

.idea/markdown-navigator/profiles_settings.xml

.idea/httpRequests
.idea